<body class="profile-body">
<div class="topbar">
	<nav class="exit-edit">
		<ul>
			<a href="/home"><li class="logout">Log out |</li></a>
			<a href="/profile"><li>Main Profile</li></a>
 		</ul>

	</nav>
</div>
<br class="clear">

<div class="main-body">
	<h2>Edit Profile</h2>

	<div class="main">
			 <img src="/img/under_construction.gif" width="400">
	</div>


	<form class="edit-profile">
	<label for="fname">First Name: </label>
	<input type="text" name="fname"> <br>
	<label for="lname">Last Name: </label>
	<input type="text" name="lname">  <br>
	<label for="age">Age: </label>
	<input type="text" name="age"> <br>
	<label for="gender">Gender: </label>
	<input type="text" name="gender"> <br>
	<label for="location">Location: </label>
	<input type="text" name="location"> <br>
	<label for="github">Github: </label>
	<input type="text" name="github"> <br>
	<label for="linkedin">LinkedIn: </label>
	<input type="text" name="linkedin">
	<input type="submit" value="Save">
	</form>
</div>



</body>