<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>homepage</title>
<link rel="stylesheet" type="text/css" href="home.css">
	<div class="top">
		<nav class="signin">
			<form method="POST" action="/posts/new">
			  <label for="title">Email</label>
			  <input type="text" name="[post]title">
			  <label for="text">Password</label>
			  <input type="[post]text">
			  <input type="submit">
			</form>
		</nav>
	</div>
</head>
	<body>
		<div id="header">
			<h1>Code Squad</h1>
		</div>


		<form method="POST" action="/sign-in">
  <label for="Fname">First Name</label>
  <input type="text" name="username">
  <label for="Lname">Last Name</label>
  <input type="password" name="password">
  <input type="submit">
</form>
		
	












	</body>
</html>