body {
	background-color: #CFCFCF;
	background-image: url("img/codesquad.jpg");
	background-size: cover;
	

}

.signin {
	margin-left: 850px;
	color: #FFFFFF;
}

.top {
	
}

#header {
    opacity: 1.0;
    color:white;
    text-align:center;
    padding:5px;
}
