<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>homepage</title>
<link rel="stylesheet" type="text/css" href="/home.css">
	
	<div class="top">
		<nav class="signin">
			<form method="POST" action="/signin">
			  <label for="email">Email</label>
			  <input type="text" name="email">
			  <label for="password">Password</label>
			  <input type="password" name="password">
			  <input type="submit" value="Launch Command">
			</form>
		</nav>
	</div>
</head>
	<body>
		<div id="header">
			<h1>Code Squad</h1>
			<%= flash[:notice] if flash[:notice] %>
	</div>






	</body>
</html>