<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="/home.css">
</head>

<body>
<header class="banner" id="banner"></header>
	<a href="/signup" class="signup">Sign Up</a>
	
		<div class="logo">
			<img src="img/codelogo.png">
		</div>
	<!-- <nav>
	    <ul class="cf">
	    	
	        <li><a class="dropdown1">Digital Press</a>
	        	<ul>
	                <li><a href="#">Whats New</a></li>
	                <li><a href="#">Hot Topics</a></li>
	                <li><a href="#">World Press</a></li>
	            </ul>
	        </li>	
	       	
	        <li><a class="dropdown" href="#">Innovations</a>
	            <ul>
	                <li><a href="#">Projects</a></li>
	                <li><a href="#">Best rated</a></li>
	                <li><a href="#">upcoming</a></li>
	            </ul>
	        </li>
	    </ul>
	</nav> -->


 	<div class= "pop">
 		<div id="signin">
	 		<form method="POST" action="/signin">
			  <label type="email">Email</label>
			  <input type="text" placeholder="email" name="email" required >
			  	<label for="password">Password</label>
				<input type="password" placeholder="password" name="password" required >
				  <input class="submit" type="submit">
			</form>
		</div>
	</div>
	<footer class="footer">
		<p>CodeSquad</p>
		<p>Contact information: <a href="mailto:someone@example.com">contact@codesquad.com</a></p>
	</footer>	
</body>
	
</html>