
<body id="profile_body">
	<nav class="exit_edit">
		<ul>
			<li class="logout">Log Out |</li>
			<li>Edit Profile</li>
		</ul>
	</nav>

	<form action="/searc" method="get" class="name_search">
		<label for="search">Search</label>
		<input type="text" name="search">
	</form>

	<br class="clear">

	
	<div class="main">
		<h4>Welcome Back ** some name**</h4>
		<img src="/img/under_construction.gif" width="400">
		<p>Name:</p>
		<p>Job:</p>
		<p>Hobbie:</p>
	</div>

	<div>
		<a href="/friend">See all friends</a> 
		<form>
			<input type="text" name="search">
			<label for="search">Search</label>
		</form>
	</div>

	<div>
		<p>Friend's Blogging area</p>
	</div>
</body>