
<body id="profile_body">
	<nav class="exit_edit">
		<ul>
			<li class="logout">Log Out |</li>
			<li>Edit Profile</li>
		</ul>
	</nav>

	<form action="/searc" method="get" class="name_search">
		<label for="search">Search</label>
		<input type="text" name="search">
	</form>

	<br class="clear">

	
	<div class="main_body">
		<h4 class="main">Welcome Back ** some name**</h4>
		<div class="main">
		 <img src="/img/under_construction.gif" width="400">
		</div>
		<p class="main">Name:</p>
		<p class="main">Job:</p>
		<p class="main">Hobbies:</p>
	</div>

	<div class="friend_blog">
		<div>
			<a href="/friend">See all friends</a> 
		</div>

		<div>
			<p>Friend's news feeds</p>
			<p>Friend's news feeds</p>
			<p>Friend's news feeds</p>
			<p>Friend's news feeds</p>
			<p>Friend's news feeds</p>
			<p>Friend's news feeds</p>
			<p>Friend's news feeds</p>
			<p>Friend's news feeds</p>
			<p>Friend's news feeds</p>
			<p>Friend's news feeds</p>
		</div>
	</div>
</body>