<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="/signon.css">
</head>


<body>
 <div class="nav">
		<ul class ="nav">
	  		<li><a href="/">Home</a></li>
		</ul>
 </div>



	<div class="signon">
		<form method="POST" action="/sign_up">
			  <label for="fname">First Name</label>
			  <input type="text" name="[user]fname">
				  <label for="lname">Last Name</label>
				  <input type="text" name="[user]lname">
				 <label for"password">Set Password</label>
				 <input type="password" name="[user]password">
			  <label for="email">Email</label>
			  <input type="text" name="[user]email">
				  <label for="age">Age</label>
				  <input type="number" name="[user]age">
			  <label for="gender">Gender</label>
			  <input type="text" name="[user]gender">
				  <label for="location">Location</label>
				  <input type="text" name="[user]location">
			  <label for="linkedin">Linkedin url:</label>
			  <input type="text" name="[user]linkedin">
			  <label for="github">Github url:</label>
			  <input type="text" name="[user]github">
			  
			  <input class="submit" type="submit">
		</form>
	<div> 





</body>
</html>