body.profile-body {
	width: 50%;
	margin: 0 auto;

}

div.topbar {
	padding-top: 20px;
	background-color: #3366FF;
	color: #FFF;
}

div.topbar nav ul li {
	color: #FFF;
}

div.topbar nav ul a:link {
	text-decoration: none;
}

div.topbar nav ul a:hover {
	text-decoration: underline;
}

nav.exit-edit {
	float: left;
	text-decoration: none;
}

nav.exit-edit ul {
	margin-top: 0;
	padding-left: 0;
}
nav.exit-edit ul li {
	display: inline;
	list-style: none;
}

form.name-search {
	float: right;
}

br.clear {
	clear: both;
}

div.main-body {
	width: 170px;
	float: left;
}



div.main-body .main {
	/*float: right;*/

}

div.friend-blog {
	width: 350px;
	/*margin: 0 auto;*/
	float: right;
}

div.friend-blog div a {
	float: right;
}

div.posts {
	width: 135px;

}

										/********************
												Edit Profile
										**********************/

form.edit-profile {
	width: 140px;
	margin: 0 auto;
}
form.edit-profile input {
	/*display: block;*/
}


