body.profile-body {
	width: 50%;
	margin: 10px auto 0 auto;

}

div.topbar {
	padding-top: 20px;
	background: #3366FF;
	color: #FFF;
	border-radius: 10px 10px 0 0;
}

div.body-content {
	background: rgba(133, 163, 255, .5);
	border-radius: 0 0 10px 10px;
}


div.topbar nav ul li {
	color: #FFF;
}

div.topbar nav ul a:link {
	text-decoration: none;
}

div.topbar nav ul a:hover {
	text-decoration: underline;
}

form.name-search {
	padding-right: 3px;
}

nav.exit-edit {
	float: left;
	padding-left: 3px;
}

nav.exit-edit ul {
	margin-top: 0;
	padding-left: 0;
}
nav.exit-edit ul li {
	display: inline;
	list-style: none;
}

form.name-search {
	float: right;
}

br.clear {
	clear: both;
}

div.main-body {
	width: 170px;
	float: left;
	padding-left: 3px;
}



div.main-body .main {
	/*float: right;*/

}

div.friend-blog {
	width: 250px;
	/*margin: 0 auto;*/
	float: right;
}

div.friend-blog div a {
	float: right;
}

div.posts {
	width: 135px;
	margin-right: 0;

}

div.sub-body {
	width: 500px;
	margin: 0 auto;
}
p.user-post {
	width: 140px;
	margin: 10px 0 10px 0;
	background-color: #FFF;
	border-radius: 5px;
}

										/********************
												Edit Profile
										**********************/

form.edit-profile {
	width: 140px;
	margin: 0 auto;
}
form.edit-profile input {
	/*display: block;*/
}


