body.profile_body {
	width: 90%;
	margin: 0 auto;
}
nav.exit_edit {
	float: left;
}

nav.exit_edit ul {
	margin-top: 0;
}
nav.exit_edit ul li {
	display: inline;
	text-decoration: none;
}

form.name_search {
	float: right;
	padding-right: 40px;
}

.clear = {
	clear: both;
}

div.main_body {
	width: 70%;
	margin: 60px auto 0 auto;
	border-bottom: 1px solid black;
}

div.main_body .main {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

div.friend_blog {
	width: 70%;
	margin: 0 auto;
}

