body {
  background-color: #CFCFCF;
  background-image: url("img/codesquad.jpg");
  background-size: cover;
}

.nav ul, li,a {
    color:#FFFFFF;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.signon form label, input{
  display: block;
}
.signon {
  width: 450px;
  margin: 150px auto 0 auto;
  background-color: ##E6E6E6;
 /* opacity: 0.8;*/
}

.signon form input {
  width: 450px;
}

.signon form input.submit {
  width: 100px;
  margin: 30px;  
}